.easy{
    padding-top: 50px;
    &__list{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    &__item{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 160px;
    }
    &__item:nth-child(2){
        margin: 0;
        flex-direction: row-reverse;
    }
    &__img{
        padding-left: 40px;
        width: 627px;
            height: 498px;
            border-radius: 50%;
    }
&__img:nth-child(2){
    margin-right: 150px;
}
    &__img3{
        padding-left: 40px;
        width: 727px;
            height: 498px;
            border-radius: 50%;
    }
    &__title{
        width: 445px;
        padding-top: 40px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #495567;
    }
    &__text{
        width: 445px;
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        padding-top: 24px;
        
    }
    .button{
        padding-top: 54px;
    }
    &__btn{
        width: 180px;
        height: 53px;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        background-color: #FCB72B;}
        
        &__btn:hover{
            background: #F2F2F2;
            color: #FCB72B;
            border: 1px solid #FCB72B;
        }
        &__btn:active{
            background: #FFFFFF;color: #FCB72B;
            
        }
        &__item2{
            padding-left: 83px;
        }
        &__img{
            width: 727px;
            height: 498px;
            max-width: 100%;
        }
        
    }
    @media screen and (max-width: 768px) {
        .easy{
            &__list{
                width: 100%;
            }
            &__item{
                flex-direction: column-reverse;
            }
            &__title{
                font-weight: 700;
                font-size: 48px;
                line-height: 48px;
                text-align: center;
                letter-spacing: -2.14286px;
                color: #495567;
            }
            &__text{
                padding-top: 40px;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                color: #939CAA;
            }
            &__img{
                margin: 0;
                width: 445px;
                height: 445px;
                max-width: 100%;
            }
            &__img:nth-child(2){
                margin: 0;
            }
            &__img3{
                width: 445px;
                height: 445px;
                border-radius: 50%;
                margin: 0;
            }
            .button{
                text-align: center;
                
            }
            &__btn{
                width: 183px;
                height: 53px;
                font-weight: 700;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                color: #FFFFFF;
            }
            &__item:nth-child(2){
                flex-direction: column-reverse;
                margin-top: 128px;
            }
            
        }
    }
    @media screen and (max-width: 960px) {
        .easy{
            &__list{
                width: 100%;
            }
            &__item{
                flex-direction: column-reverse;
            }
            &__title{
                font-weight: 700;
                font-size: 48px;
                line-height: 48px;
                text-align: center;
                letter-spacing: -2.14286px;
                color: #495567;
            }
            &__text{
                padding-top: 40px;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                color: #939CAA;
            }
            &__img{
                width: 445px;
                height: 445px;
                max-width: 100%;
            }
            &__img3{
                width: 445px;
                height: 445px;
                border-radius: 50%;
            }
            .button{
                text-align: center;
                
            }
            &__btn{
                width: 183px;
                height: 53px;
                font-weight: 700;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                color: #FFFFFF;
            }
            &__item:nth-child(2){
                flex-direction: column-reverse;
                margin-top: 128px;
            }
            
        }
    }
    @media screen and (max-width: 375px){
        .easy{
            &__list{
                width: 100%;
            }
            &__item{
                width: 311px;
            }
            &__img{
                width: 311px;
                height: 311px;
            }
            &__img3{
                width: 311px;
                height: 311px;
                border-radius: 50%;
            }
            &__title{
                width: 311px;
                margin: 0 auto;
                font-weight: 700;
                font-size: 32px;
                line-height: 32px;
                text-align: center;
                letter-spacing: -1.42857px;
                color: #495567;
            }
            &__text{
                width: 311px;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                color: #939CAA;
            }
        }
    }
    